<!-- ====== Header Start ====== -->
<header class="ud-header sticky">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/images/logo/logo.png" alt="Logo" />
                    </a>
                    <button class="navbar-toggler">
                        <span class="toggler-icon"> </span>
                        <span class="toggler-icon"> </span>
                        <span class="toggler-icon"> </span>
                    </button>

                    <div class="navbar-collapse">
                        <ul id="nav" class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="ud-menu-scroll" href="/">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="ud-menu-scroll" href="/about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="ud-menu-scroll" href="/pricing">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="ud-menu-scroll" href="/locations">Locations</a>
                            </li>
                            <li class="nav-item">
                                <a class="ud-menu-scroll" href="/faq">FAQ</a>
                            </li>
                            <li class="nav-item">
                                <a class="ud-menu-scroll" href="/testimonials">Testimonials</a>
                            </li>
                            <li class="nav-item">
                                <a class="ud-menu-scroll" href="/blog">Blog</a>
                            </li>
                        </ul>
                    </div>

                    <div class="navbar-btn d-none d-sm-inline-block">
                        <a href="/contact" class="ud-main-btn ud-login-btn">
                            Contact
                        </a>
                        <a class="ud-main-btn ud-white-btn"
                            href="https://www.fresha.com/a/bodywork-hut-sheffield-cnm5s1g9/booking?menu=true&pId=1465569&dppub=true&employeeId=3466498">
                            Book Now
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ====== Header End ====== -->